@import "utils/reset";
@import 'utils/placeholder';


.gameField {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    @include placeholder {
        font-size: 15.5px;
    }
}